# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# ASM files
*.s

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Test bin
test/test_marshal
test/test_unmarshal
test/generate_sample
test/test_lookup_table
test/test_create
test/test_copy
test/test_free
test/test_series_add
test/test_series_update
test/test_series_remove
test/test_reindex
test/test_perf

# VS code conf
.vscode/

# Java classes
*.class

# Memgraph
*.memgraph

.DS_Store
api/
example/example
example/output.adf
example/example
